/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575px) {

  .header_content h3 {
    font-size: 14px;
    padding: 5px 0;
  }

  .header_content p {
    font-size: 16px;
    padding: 5px;
  }

  .menu_icon a i {
    margin: 5px 0 10px 3px;
  }

  .banner_img {
    display: none;
  }

  .logo2 h3 {
    padding-top: 10px;
  }

  .rmb_30 {
    margin-bottom: 30px;
  }

  #menu_part {
    top: 150px;
  }

  .navbar {
    position: relative;
  }

  .menu_icon {
    position: absolute;
    right: 0;
    top: 5px;
  }

}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767px) {

  .header_content h3 {
    padding: 5px 0;
  }

  .header_content p {
    padding: 5px;
  }

  .rmb_30 {
    margin-bottom: 30px;
  }

  .menu_icon a i {
    margin: 5px 0 10px 3px;
  }

  .banner_img {
    display: none;
  }

  .about_content p {
    padding: 15px 5px;
  }

  #menu_part {
    top: 190px;
  }

  .navbar {
    position: relative;
  }

  .menu_icon {
    position: absolute;
    right: 0;
    top: 5px;
  }

}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991px) {

  .header_content h3 {
    padding-bottom: 0;
  }

  .header_content p {
    padding: 0;
    text-align: center;
  }

  .banner_img {
    display: none;
  }

  .menu_icon a i {
    margin: 5px 0 10px 3px;
  }

  .about_content p {
    padding: 15px 10px;
  }

  .rmb_30 {
    margin-bottom: 30px;
  }

  #menu_part {
    top: 150px;
  }

  .navbar {
    position: relative;
  }

  .menu_icon {
    position: absolute;
    right: 0;
    top: 5px;
  }

}

/* Large devices (desktops, 992px and up) */

@media (min-width: 984px) and (max-width: 1190px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}
