{% extends '../html/base.html' %}
{% block title %}Register{% endblock %}
{% load widget_tweaks %}
{% block menu %}
          <nav class="navbar navbar-expand-md navbar-dark bg-success">
              <div class="container">
              <h3 class="navbar-brand logo" href="#">CRUD</h3>
              <ul class="navbar-nav">
              </ul>
              </div>
          </nav>
{% endblock %}
{% block content %}
<div class="container">
    <h3 class="text-primary mt-3 mb-5">Register Page</h3>
    {% if messages %}
        {% for message in messages %}
        <h5 class="text-success">{{message}}</h5>
        {% endfor %}
    {% endif %}
    <form action="/crud/" method="post">
        {% csrf_token %}
            {% for field in forms %}
            <div class="form-group mb-3">
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                {{ field | add_class:"form-control w-50"}}
            </div>
            {% endfor %}
        <input type="submit" value="Register" class="btn btn-primary"/>
        <a href="/crud/auth_login/" class="ml-3">Login</a>
    </form>
</div>

{% endblock %}