{% extends '../html/base.html' %}

{% block title %}Set Up Single File {% endblock %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
            <h5 class="text-success">{{message}}</h5>
            {% endfor %}
        {% endif %}
        <h4 class="text-success mt-4">{{ result }}</h4>
        <h3 class="text-secondary mt-3 mb-3">Single File Form</h3>
      <form action="/crud/upload_single_file/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
          {% for field in form.visible_fields %}
          <div class="fieldWrapper form-group">
              <h4 class="text-danger mt-4">{{ field.errors }}</h4>
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
               {{ field|add_class:"form-control mb-4" }}
          </div>
          {% endfor %}
        <input class="btn btn-primary w-100 mt-3 mb-5" type="submit" value="Save">
      </form>
    </div>
{% endblock %}